<div style="text-align:center">
    <img src="http://www.expose.mx/content/img/exposeLogo.png" />
</div>
<div style="text-align:center">
    <h2 style="text-align:center">Haz sido invitado a formar parte de nuestro equipo.</h2>
    <p>
        Fuiste registrado con una contraseña generica por lo que recomendamos que cambies tu contraseña lo antes posible.
    </p>
    <p>  Contraseña: <strong>123456</strong></p>
    <br />
    <p>
        Necesitamos que confirmes tu correo e inicies sesión.
    </p>
    <p style="text-align:center">Confirma tu email e inicia sesión con el siguiente boton.</p>

    <a style="text-align:center" href="{Link}" title="Validar cuenta" target="_blank">VALIDAR CUENTA</a> 
</div>