@using Dal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-xs-12 col-sm-12">
        <div style="background-color: white; width: auto; padding: 10%">
            <h1 class="text-center">Error 500</h1>
            <div class="text-center">
                <img src="~/Content/images/TheContent500.png" style="height: 120px" />
                @*<img src="~/Content/images/The_Content_Logo.png" style="width: 150px"/>*@
            </div>

            <p class="text-justify" style="margin-top: 30px;">Algo salio mal... Usa el area de abajo para decirnos que hacias cuando se presento esta pagina y evitar estos errores en el futuro.</p>
            <h5 class="text-center" style="margin-top: 30px;">Gracias por ayudarnos a mejorar.</h5>
            <div class="text-center">
                <textarea class="form-control" id="description" style="margin-top: 30px;"></textarea>
                <button class="btn btn-info" style="margin-top: 30px;" id="sendReport">Enviar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>
    $('#sendReport').on('click', function () {
        $.ajax({
            type:'POST',
            url: 'http://desarrollo.comulink.com/api/Reports',
            crossDomain: true,
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify({
                Domain: "TheContent",
                Description: $('textarea#description').val(),
                Type : "500"
            }),
            dataType: 'json',
            success: function() {
                alert("Mensaje enviado correctamente.");
            }
        });
    })
    
</script>